body{
	background-color:#B9D6CA;
	
}

h1{
	font-family:arial, verdana;
	font-size:20pt;
	color:#0091EA;
	text-align:center;
	margin-top:20px;
}

div{
	text-align:center;
}

h3{
	font-family:arial, calibri;
	font-size:16pt;
	color:#123456;
	padding-left:50px;
}




p{
	font-family:calibri, arial;
	font-size:14pt;
	color:#F44336;
	text-align:left;
	padding-left:40px;
}

.movie{
	color:#E65100;
	font-family: tahoma, calibri;
	font-size:14pt;
	
}

img{
	width:400px;
	height:300px;
	float:center;
}

.imgmovie{
	width:250px;
	height:300px;
	padding-left:150px;
}

ol{
	padding-left:200px;
	font-size:14pt;
	font-family:tahoma;
}
a{
	font-family:calibri;
	font-size:20pt;
	padding-left:40px;
	text-decoration:none;
}